*{
  padding : 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Bebas';
  src: url('fonts/bebas_neue/BebasNeue-Regular.ttf');
}

body 
{
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.frame
{
  margin-top: 7px;
  margin-left: 10px;
  
}



/******************************************
**             NAVIGATION BAR
*******************************************/


.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
}

.brand-title {
  font-size: 1.5rem;
  margin: .5rem;
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}


.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 1rem;
}

.navbar-links li:hover {
  background-color: #555;
}



.navbar-links li.active a
{
  background: red;
  color: #ffffff;
}


/******************************************
**             TOGGLE BUTTON
*******************************************/

.toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}




/**********************************************************************************
**                            SCREEN RESOLUTION
**********************************************************************************/


/* Resolution for NavBar */
@media (max-width: 1005px) {
  .navbar { flex-direction: column; align-items: flex-start; }
  .toggle-button { display: flex; }
  .navbar-links { display: none; width: 100%; }
  .navbar-links ul { width: 100%; flex-direction: column; }
  .navbar-links ul li { text-align: center; }
  .navbar-links ul li a { padding: .5rem 1rem; }
  .navbar-links.active { display: flex; }
}


/* Resolution for iframe */
@media screen and (max-width:600px) { .frame { width: 96%; } }
@media screen and (max-width:1200px) { .frame { width: 95%; } }
@media screen and (max-width:1600px) { .frame { width: 98.5%; } }
@media screen and (max-width:1900px) { .frame { width: 99%; } }


